### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [47]:
playerCount = len(purchase_data_df["SN"].unique())
# type(playerCount)

# Create a dictionary of the calculated value.
dict = {"Total Players":[playerCount]}

# Create a pandas dataframe from the dictionary.
playerCount_df = pd.DataFrame(data = dict)

playerCount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
uniqueItems = len(purchase_data_df["Item ID"].unique())
# uniqueItems

avePrice = round(purchase_data_df["Price"].mean(),2)
# avePrice

purchaseCount = len(purchase_data_df["Purchase ID"])
# purchaseCount

totalRevenue = purchase_data_df["Price"].sum()
# totalRevenue

# Create a dictionary of the calculated values.
dict = {"Number of Unique Items":[uniqueItems], 
        "Average Price":[avePrice],
        "Number of Purchases":[purchaseCount],
        "Total Revenue":[totalRevenue]}

# Put the dictionary into a pandas dataframe.
summary_df = pd.DataFrame(data = dict)
summary_df.head()

# Note to self: go back and add dollar signs.

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Filter original dataframe for male purchasers and count unique screen names.
males_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
uniqueMalesCount = len(males_df['SN'].unique())
# uniqueMalesCount

# Filter original dataframe for female purchasers and count unique screen names.
females_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
uniqueFemalesCount = len(females_df['SN'].unique())
# uniqueFemalesCount

# Filter original dataframe for other purchasers and count unique screen names.
others_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
uniqueOthersCount = len(others_df['SN'].unique())
uniqueOthersCount

# Calculate percentages of each gender
malesPct = round(uniqueMalesCount / playerCount * 100, 2)
# malesPct

femalesPct = round(uniqueFemalesCount / playerCount * 100, 2)
# femalesPct

othersPct = round(uniqueOthersCount / playerCount * 100, 2)
# othersPct

# Create a dictionary of the calculated values.
dict = {"":['Male','Female','Other/Non-Disclosed'],
        "Total Count":[uniqueMalesCount, uniqueFemalesCount, uniqueOthersCount], 
        "Percentage of Players":[malesPct, femalesPct, othersPct]
       }

# Put the dictionary into a pandas dataframe.
gender_df = pd.DataFrame(data = dict)
gender_df

                        Total Count  Percentage of Players
0                 Male          484                  84.03
1               Female           81                  14.06
2  Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. for females.
femalePurchases_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
femCount = len(femalePurchases_df)
femPurchases = femalePurchases_df['Price'].sum()
femAvePrice = round( femPurchases / femCount, 2)
femAvePurchase = round( femPurchases / uniqueFemalesCount, 2)
print(femCount)
print(femPurchases)
print(femAvePrice)
print(femAvePurchase)

113
361.94
3.2
4.47

In [7]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. for males.
malePurchases_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
maleCount = len(malePurchases_df)
malePurchases = malePurchases_df['Price'].sum()
maleAvePrice = round( malePurchases / maleCount, 2)
maleAvePurchase = round( malePurchases / uniqueMalesCount, 2)
print(maleCount)
print(malePurchases)
print(maleAvePrice)
print(maleAvePurchase)

652
1967.64
3.02
4.07

In [8]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. for others.
otherPurchases_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
otherCount = len(otherPurchases_df)
otherPurchases = otherPurchases_df['Price'].sum()
otherAvePrice = round( otherPurchases / otherCount, 2)
otherAvePurchase = round( otherPurchases / uniqueOthersCount, 2)
print(otherCount)
print(otherPurchases)
print(otherAvePrice)
print(otherAvePurchase)

15
50.19
3.35
4.56

In [9]:
# Create a dictionary of the calculated values.
dict = {"Gender":['Female','Male','Other/Non-Disclosed'],
        "Purchase Count":[femCount, maleCount, otherCount], 
        "Average Purchase Price":[femAvePrice, maleAvePrice, otherAvePrice],
        "Total Purchase Value":[femPurchases, malePurchases, otherPurchases],
        "Avg Total Purchase per Person":[femAvePurchase, maleAvePurchase, otherAvePurchase]
       }

# Put the dictionary into a pandas dataframe and display it.
gender_summary_df = pd.DataFrame(data = dict)
gender_summary_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.20,361.94,4.47
1,Male,652,3.02,1967.64,4.07
2,Other/Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# Create the bins in which data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [11]:
# Put each purchase into an age group. Add an Age Group column to the original df.
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [12]:
# Filter the data frame by each Age Group and count the unique screen names per Age Group.
under10_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "<10", :]
uniqueUnder10Count = len(under10_df['SN'].unique())
under10Pct = round(uniqueUnder10Count / playerCount * 100, 2)
print(uniqueUnder10Count)
print(under10Pct)

17
2.95

In [13]:
age10to14_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "10-14", :]
unique10to14Count = len(age10to14_df['SN'].unique())
age10to14Pct = round(unique10to14Count / playerCount * 100, 2)
print(unique10to14Count)
print(age10to14Pct)

22
3.82

In [14]:
age15to19_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "15-19", :]
unique15to19Count = len(age15to19_df['SN'].unique())
age15to19Pct = round(unique15to19Count / playerCount * 100, 2)
print(unique15to19Count)
print(age15to19Pct)

107
18.58

In [15]:
age20to24_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "20-24", :]
unique20to24Count = len(age20to24_df['SN'].unique())
age20to24Pct = round(unique20to24Count / playerCount * 100, 2)
print(unique20to24Count)
print(age20to24Pct)

258
44.79

In [16]:
age25to29_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "25-29", :]
unique25to29Count = len(age25to29_df['SN'].unique())
age25to29Pct = round(unique25to29Count / playerCount * 100, 2)
print(unique25to29Count)
print(age25to29Pct)

77
13.37

In [17]:
age30to34_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "30-34", :]
unique30to34Count = len(age30to34_df['SN'].unique())
age30to34Pct = round(unique30to34Count / playerCount * 100, 2)
print(unique30to34Count)
print(age30to34Pct)

52
9.03

In [18]:
age35to39_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "35-39", :]
unique35to39Count = len(age35to39_df['SN'].unique())
age35to39Pct = round(unique35to39Count / playerCount * 100, 2)
print(unique35to39Count)
print(age35to39Pct)

31
5.38

In [19]:
age40Over_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "40+", :]
unique40OverCount = len(age40Over_df['SN'].unique())
age40OverPct = round(unique40OverCount / playerCount * 100, 2)
print(unique40OverCount)
print(age40OverPct)

12
2.08

In [20]:
# Create a dictionary for all the calculated values.
dict = {"Age Group":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
        "Total Count":[uniqueUnder10Count, unique10to14Count, unique15to19Count, unique20to24Count, unique25to29Count, \
                       unique30to34Count, unique35to39Count, unique40OverCount],
        "Percentage of Players":[under10Pct, age10to14Pct, age15to19Pct, age20to24Pct, age25to29Pct, age30to34Pct, \
                                age35to39Pct, age40OverPct]
       }

# Put the dictionary into a pandas dataframe and display it.
age_summary_df = pd.DataFrame(data = dict)
age_summary_df

  Age Group  Total Count  Percentage of Players
0       <10           17                   2.95
1     10-14           22                   3.82
2     15-19          107                  18.58
3     20-24          258                  44.79
4     25-29           77                  13.37
5     30-34           52                   9.03
6     35-39           31                   5.38
7       40+           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [32]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [33]:
# Average purchase price by age group.
under10Purchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "<10", :]
under10Count = len(under10Purchases_df)
under10Purchases = under10Purchases_df['Price'].sum()
under10AvePrice = round( under10Purchases / under10Count, 2)
under10AvePurchase = round( under10Purchases / uniqueUnder10Count, 2)
print(under10Count)
print(under10Purchases)
print(under10AvePrice)
print(under10AvePurchase)

23
77.13
3.35
4.54

In [34]:
age10to14Purchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "10-14", :]
age10to14Count = len(age10to14Purchases_df)
age10to14Purchases = age10to14Purchases_df['Price'].sum()
age10to14AvePrice = round( age10to14Purchases / age10to14Count, 2)
age10to14AvePurchase = round( age10to14Purchases / unique10to14Count, 2)
print(age10to14Count)
print(age10to14Purchases)
print(age10to14AvePrice)
print(age10to14AvePurchase)

28
82.78
2.96
3.76

In [35]:
age15to19Purchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "15-19", :]
age15to19Count = len(age15to19Purchases_df)
age15to19Purchases = age15to19Purchases_df['Price'].sum()
age15to19AvePrice = round( age15to19Purchases / age15to19Count, 2)
age15to19AvePurchase = round( age15to19Purchases / unique15to19Count, 2)
print(age15to19Count)
print(age15to19Purchases)
print(age15to19AvePrice)
print(age15to19AvePurchase)

136
412.89
3.04
3.86

In [36]:
age20to24Purchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "20-24", :]
age20to24Count = len(age20to24Purchases_df)
age20to24Purchases = age20to24Purchases_df['Price'].sum()
age20to24AvePrice = round( age20to24Purchases / age20to24Count, 2)
age20to24AvePurchase = round( age20to24Purchases / unique20to24Count, 2)
print(age20to24Count)
print(age20to24Purchases)
print(age20to24AvePrice)
print(age20to24AvePurchase)

365
1114.06
3.05
4.32

In [37]:
age25to29Purchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "25-29", :]
age25to29Count = len(age25to29Purchases_df)
age25to29Purchases = round(age25to29Purchases_df['Price'].sum(),2)
age25to29AvePrice = round( age25to29Purchases / age25to29Count, 2)
age25to29AvePurchase = round( age25to29Purchases / unique25to29Count, 2)
print(age25to29Count)
print(age25to29Purchases)
print(age25to29AvePrice)
print(age25to29AvePurchase)

101
293.0
2.9
3.81

In [38]:
age30to34Purchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "30-34", :]
age30to34Count = len(age30to34Purchases_df)
age30to34Purchases = round(age30to34Purchases_df['Price'].sum(),2)
age30to34AvePrice = round( age30to34Purchases / age30to34Count, 2)
age30to34AvePurchase = round( age30to34Purchases / unique30to34Count, 2)
print(age30to34Count)
print(age30to34Purchases)
print(age30to34AvePrice)
print(age30to34AvePurchase)

73
214.0
2.93
4.12

In [39]:
age35to39Purchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "35-39", :]
age35to39Count = len(age35to39Purchases_df)
age35to39Purchases = round(age35to39Purchases_df['Price'].sum(),2)
age35to39AvePrice = round( age35to39Purchases / age35to39Count, 2)
age35to39AvePurchase = round( age35to39Purchases / unique35to39Count, 2)
print(age35to39Count)
print(age35to39Purchases)
print(age35to39AvePrice)
print(age35to39AvePurchase)

41
147.67
3.6
4.76

In [40]:
age40overPurchases_df = purchase_data_df.loc[purchase_data_df["Age Group"] == "40+", :]
age40overCount = len(age40overPurchases_df)
age40overPurchases = round(age40overPurchases_df['Price'].sum(),2)
age40overAvePrice = round( age40overPurchases / age40overCount, 2)
age40overAvePurchase = round( age40overPurchases / unique40OverCount, 2)
print(age40overCount)
print(age40overPurchases)
print(age40overAvePrice)
print(age40overAvePurchase)

13
38.24
2.94
3.19

In [41]:
# Create a dictionary for all the calculated values.
dict = {"Age Group":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
        "Purchase Count":[under10Count, 
                          age10to14Count,
                          age15to19Count,
                          age20to24Count,
                          age25to29Count,
                          age30to34Count,
                          age35to39Count,
                          age40overCount
                         ],
        "Average Purchase Price":[under10AvePrice, 
                                  age10to14AvePrice,
                                  age15to19AvePrice,
                                  age20to24AvePrice,
                                  age25to29AvePrice,
                                  age30to34AvePrice,
                                  age35to39AvePrice,
                                  age40overAvePrice
                                 ],
        "Total Purchase Value":[under10Purchases, 
                                age10to14Purchases,
                                age15to19Purchases,
                                age20to24Purchases,
                                age25to29Purchases,
                                age30to34Purchases,
                                age35to39Purchases,
                                age40overPurchases
                               ],
        "Avg Total Purchase per Person":[under10AvePurchase, 
                                         age10to14AvePurchase,
                                         age15to19AvePurchase,
                                         age20to24AvePurchase,
                                         age25to29AvePurchase,
                                         age30to34AvePurchase,
                                         age35to39AvePurchase,
                                         age40overAvePurchase
                                        ]
       }

# Put the dictionary into a pandas dataframe and display it.
ageAnalysis_df = pd.DataFrame(data = dict)
ageAnalysis_df

,Age Group,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.35,77.13,4.54
1,10-14,28,2.96,82.78,3.76
2,15-19,136,3.04,412.89,3.86
3,20-24,365,3.05,1114.06,4.32
4,25-29,101,2.90,293.00,3.81
5,30-34,73,2.93,214.00,4.12
6,35-39,41,3.60,147.67,4.76
7,40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
# Make SN the index.
indexSN_df = purchase_data_df.set_index(['SN'])
#indexSN_df.head()

In [43]:
# Group by SN.
# Count the number of purchases (Purchase IDs) for each SN.
# Sum the purchase prices for each SN.

groupedSN_df = indexSN_df.groupby(['SN'])

groupedPurchases = groupedSN_df["Purchase ID"].count()
# type(groupedPurchases)

groupedPrices = groupedSN_df["Price"].sum()
# groupedPrices

In [44]:
# Merge the grouped series.
merge_table = pd.merge(groupedPurchases, groupedPrices, on="SN")

# Calculate average purchase price and add it as a new column.
merge_table["Average Purchase Price"] = round(merge_table['Price'] / merge_table['Purchase ID'],2)
merge_table.head()

# Reorder the columns.
organized_df = merge_table[["Purchase ID","Average Purchase Price","Price"]]
organized_df

# Change the column headings.
renamed_df = organized_df.rename(columns={"Purchase ID":"Purchase Count", "Price":"Total Purchase Value"})
renamed_df

# Sort by Total Purchase Value descending.
sorted_df = renamed_df.sort_values("Total Purchase Value", ascending=False)
sorted_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
# Solution strategy:
# Create two dataframes: one to count the purchases and one to get the Item Price.
# In each df, set index as Item ID & Item Name.
# Group by Item ID & Item Name.  
# Sum Purchase ID and assign to a series.
# Merge the two series.
# Calculate Total Purchase Value and add it as a new column.


itemCount_df = purchase_data_df[["Item ID", "Item Name", "Purchase ID"]]
# itemCount_df.head()

In [55]:
# In first df, change the index.
# Make the "Item" columns the index.
indexItems_df = itemCount_df.set_index(['Item ID', 'Item Name'])
indexItems_df.head()

                                                   Purchase ID
Item ID Item Name
108     Extraction, Quickblade Of Trembling Hands            0
143     Frenzied Scimitar                                    1
92      Final Critic                                         2
100     Blindscythe                                          3
131     Fury                                                 4

In [90]:
# Group the items and count the number of purchase for each item.
groupedItems_df = indexItems_df.groupby(['Item ID', 'Item Name'])

countedItems = groupedItems_df["Purchase ID"].count()
# countedItems.head()

In [82]:
# Create a series of the Item Price.
itemPrice_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Drop duplicate rows.
itemPrice_df = itemPrice_df.drop_duplicates()

# Make the "Item" columns the index. 
indexPrice_df = itemPrice_df.set_index(['Item ID', 'Item Name'])

# indexPrice_df

In [91]:
# Merge the two df's on the indexed columns.
# Merge the grouped series.
merge_table = pd.merge(countedItems, indexPrice_df, on=['Item ID','Item Name'])

# Calculate average purchase price and add it as a new column.
merge_table["Average Purchase Price"] = round((merge_table['Price'] * merge_table['Purchase ID']),2)

# Sort by highest Average Purchase Price
merge_table = merge_table.sort_values("Purchase ID", ascending=False)


# Rename columns
renamed_df = merge_table.rename(columns={"Purchase ID":"Purchase Count", "Price":"Item Price", \
                                         "Average Purchase Price":"Total Purchase Value"
                                        })
renamed_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [93]:
# Re-sort the last table by Total Purchase Value.
# Sort by highest Average Purchase Price.
sorted_df = renamed_df.sort_values("Total Purchase Value", ascending=False)
sorted_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80